/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}

/* Header */
header {
    background: #2C3E50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

header h1 {
    font-size: 28px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Gallery Section */
.gallery {
    text-align: center;
    padding: 50px 20px;
}

.gallery h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 15px;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
}

.gallery-item {
    width: 100%;
    height: 250px; 
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}


.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.gallery-item:hover img {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


footer {
    background: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
